<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2>コメント一覧</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="comment-table">
        <%= render partial: "admins/comments/comment_table", locals: {comments: @comments} %>
      </div>
    </div>
  </div>
</div>