<div class="container-flui">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>コメント一覧</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="admin-comment-table">
        <%= render partial: "admins/comments/comment_table", locals: {comments: @comments} %>
      </div>
    </div>
  </div>
</div>