<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title">
        <h2><span>コメント一覧</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="admin-comment-table">
        <%= render partial: "admins/comments/comment_table", locals: {comments: @comments} %>
      </div>
    </div>
  </div>
</div>