<div class="container">
  <% if @comments.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>本日作成されたコメントはありません</h2>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>本日作成されたコメント一覧</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="comment-table">
          <%= render partial: "admins/comments/comment_table", locals: {comments: @comments} %>
        </div>
      </div>
    </div>
  <% end %>
</div>