<div class="contianer">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2>新着スムージー一覧</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "end_users/smoothies/smoothies_boxes", locals: {smoothies: @smoothies} %>
    </div>
  </div>
</div>