<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>アカウント情報編集</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="account-info-form">
        <%= render partial: "end_users/end_users/account_info_form", locals: { end_user: @end_user } %>
      </div>
    </div>
  </div>
</div>