<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <%= render partial: "end_users/end_users/mypage_sidebar", locals: { end_user: @end_user } %>
    </div>
    <div class="col-xs-9">
      <% if @favorited_smoothies.empty? %>
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title">
              <h2><span><%= @end_user.name %>さんのいいねした投稿はありません</span></h2>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <div class="page-title">
              <h2><span><%= @end_user.name %>さんのいいねした投稿</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="smoothies">
              <%= render partial: "end_users/smoothies/smoothies_boxes", locals: { smoothies: @favorited_smoothies } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>