<h2><%= @end_user.name %> 様</h2>
  <hr />
  <p>
    <%= @end_user.name %>様、 いつもgysをご利用いただきましてありがとうございます。<br>
    <br>
    この度は<%= @end_user.name %>様の投稿にコミュニティガイドラインに反するものが確認されたため、投稿の削除対応を執り行っております。<br>
    今後もコミュニティガイドラインに違反する行為が複数回見られた場合にはアカウントの停止措置を行います。<br>
    <br>
    皆様に気持ちよくご利用いただくためのコミュニティガイドラインを設置しております。<br>
    コミュニティガイドラインをお守りの上ご利用いただけますよう、ご理解ご協力の程よろしくお願いいたします。
  </p>
  <hr />
</body>
</html>