<div class="container">
  <div class="row">
    <div class='col-xs-12'>
      <div class="page-title">
        <h2><span>ALL SMOOTHIES</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="smoothies-box">
        <%= render partial: "end_users/smoothies/smoothies_boxes", locals: { smoothies: @smoothies } %>
      </div>
    </div>
  </div>
</div>