<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">

      </div>
    </div>
  </div>
  <% if @smoothies.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2><span>NO SMOOTHIE POSTED TODAY</span></h2>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class='col-xs-12'>
        <div class="page-title">
          <h2><span>SMOOTHIE POSTED TODAY</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9">
        <div class="smoothies-box">
          <%= render partial: "end_users/smoothies/smoothies_boxes", locals: { smoothies: @smoothies } %>
        </div>
      </div>
    </div>
  <% end %>
</div>