<div class='container'>
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2>About</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <p>smoothie飲む人の画像</p>
    </div>
    <div class="col-xs-7">
      <h3 class="about-text">
        スムージーレシピの共有サイトです。<br>
        材料から栄養価を計算しご自身のレシピを共有したり<br>
        お気に入りのスムージーレシピを保存ができます。<br>
        スムージーでお洒落で健康的な生活を目指しましょう！<br>
      </h3>
    </div>
  </div>
</div>