<div class='container'>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <h2>About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <p>smoothie飲む人の画像</p>
    </div>
    <div class="col-xs-6">
      <h4>
        スムージーレシピの共有サイトです。<br>
        どなたでもレシピを見たり栄養価計算をすることができます。<br>
        会員登録をするとご自身のレシピを共有したり<br>
        特別な材料を追加したり<br>
        お気に入りのスムージーレシピを保存したりできます。<br>
        スムージーでお洒落で健康的な生活を目指しましょう！
      </h3>
    </div>
  </div>
</div>