<% ingredients.each do |ingredient| %>
  <div class="ingredient-box">
    <div class="ingredient-name">
      <%= link_to end_users_ingredient_path(ingredient) do %>
        <%= ingredient.name %>
      <% end %>
    </div>
  </div>
<% end %>