<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h2><span>MAKE YOUR RECIPE</span></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="ingredients-table">
        <%= render partial: "end_users/ingredients/ingredients_table", locals: { ingredients: @ingredients} %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="ingredient-search">
        <div class="ingredient-search-title">
          <h4>材料名を検索</h4>
        </div>
        <div class="search-form">
          <%= form_with url: end_users_searches_ingredient_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :word %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>