// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments-index-flash {
  width: 100%;
  height: 50px;
}

.comment-emotion {
  font-size: 25px;
}

.tr-comment-negative {
  background-color: #FFB6C1;
}

@media screen and (max-width:425px) {
  .comment-table thead, .comment-table tbody td:nth-of-type(1) {
    display: none;
  }

  .admin-comment-table thead th:nth-of-type(1), .admin-comment-table td:nth-of-type(1) {
    display: none;
  }

}