// Place all the styles related to the end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.end-users-table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.end-users-table th {
  text-align: center;
}

.admin-end-users-table, .admin-end-users-table th {
  text-align: center;
}

.admin-comment-table, .admin-comment-table th {
  text-align: center;
}

.resign-confirmation-text {
  text-align: center;
}

.end-users-destroy-confirm-buttons {
  display: flex;
  justify-content: center;
}

.end-users-destroy-confirm-buttons .btn {
  margin: 10px;
}

.link-to-edit {
  border: solid 0.5px #808080;
  color: #808080;
  border-radius: 20%;
  background-color: white;
}

.link-to-edit:hover {
  background-color:#DDDDDD;
}

.end-user-edit-buttons {
  display: flex;
  justify-content: space-around;
}

.mypage-side-bar {
  background-color: #EEEEEE;
  margin-top: 103px;
  padding: 15px 0 15px 0;
  border-radius: 15px;
  border: ridge 2px #DCC2FF;
  text-align: center;
}