// Place all the styles related to the end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.end-users-table {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.end-users-table th {
  text-align: center;
}

.admin-end-users-table, .admin-end-users-table th {
  text-align: center;
}

.admin-comment-table, .admin-comment-table th {
  text-align: center;
}

.resign-confirmation-text {
  text-align: center;
}

.confirm-buttons {
  display: flex;
  justify-content: center;
}

.confirm-buttons .btn {
  margin: 10px;
}

.mypage-side-bar {
  text-align: center;
}