// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredients-table, .ingredients-table th {
  text-align: center;
}

.admin-ingredient-table {
  margin-top: 30px;
}

.admin-ingredient-table th, .admin-ingredient-table label {
  text-align: center;
}

// .ingredients-boxes {
//   display: flex;
//   flex-wrap: wrap;
// }

// .ingredient-box {
//   margin:5px;
// }

.last-confirm {
  text-align: center;
}

// .caution {
//   text-align: center;
// }

// .caution span {
//   color: red;
// }

.hankaku-caution {
  text-align: center;
  color: red;
  font-size: 16px;
}

.confirm-buttons, .ingredient-edit-buttons {
  display: flex;
  justify-content: space-around;
}

.end-users-ingredient-show-form {
  text-align: center;
}

.ingredient-actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.ingredient-search-no-item {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:425px) {
  #ingredient-show-form-control {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
  }

  #ingredient-index-form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .ingredient-actions {
    display: block;
    text-align: center;
  }

  .ingredient-action {
    margin: 0 auto 15px auto;
  }

  #ingredient-new-form-control, #ingredient-edit-form-control {
    width: 70%;
    display: inline-block;
  }

  .hankaku-caution {
    font-size: 10px;
  }
}