// Place all the styles related to the juicer_ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-ingredient {
  text-align: center;
}

.buttons-below-ingredient-table {
  display: flex;
  justify-content:space-around;
}