// Place all the styles related to the smoothies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.smoothie-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 0 10px;
}

.smoothie-box {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 30px;
  // text-align: center;
  // poss 不要
}

.smoothie-box:nth-of-type(3n) {
  margin-right: 0;
}

// .smoothie-image {
//   display: flex;
//   justify-content: center;
//   width: 100%;
// }
// 多分いらない、今後エラーでなければ削除

.image-frame {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: ridge 5px #DCC2FF
}

.smoothie-box {
  text-align: center;
}

.smoothie-box:nth-of-type(odd) .image-frame {
  border: ridge 5px #DCC2FF;
}

.smoothie-box:nth-of-type(even) .image-frame {
  border: ridge 5px #FFBEDA;
}

.user-record:nth-of-type(odd) .user-index-image {
  border: ridge 3px #DCC2FF;
  border-radius: 15px;
}

.user-record:nth-of-type(even) .user-index-image {
  border: ridge 3px #FFBEDA;
  border-radius: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.favorite-button, .comment-button, .ranking-number, .ranking-favorite-number {
  display: flex;
  justify-content: center;
}

#is-recommended-button {
  margin-bottom : 20px;
}

#show-recipe-buttons {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}

.nutrients-table, .nutrients-table th  {
  text-align: center;
}
