// Place all the styles related to the smoothies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.smoothie-boxes {
  display: flex;
  flex-wrap: wrap;
}

.smoothie-box {
  width: 30%;
  margin:5px;
}