<% if model.errors.any? %>
  <div id="error-explanation" class="alert alert-danger">
    <h4><%= model.errors.count %>件のエラーが発生しました</h4>
    <ul id="errors-list">
      <% model.errors.full_messages.each do |message| %>
        <li id='error-reason'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>